<div class="container">
    <table class="table table-bordered">
      <tr><th style="background-color: #faf1e2;">ID</td><td><%= @user.id %></td></tr>
      <tr><th style="background-color: #faf1e2;">名前</th><td><%= @user.name %></td></tr>
      <tr><th style="background-color: #faf1e2;">Email</th><td><%= @user.email %></td></tr>
      <tr><th style="background-color: #faf1e2;">タスク数</th><td><%= link_to tasks_path do %>Tasks <span class="badge"><%= @count_tasks %></span><% end %></td></tr>
    </table>
  
<%= link_to '戻る', tasks_path, class: "btn btn-default col-xs-2" %>
    <% if @user == current_user %>
      <%= link_to '編集する', edit_user_path(@user), class: "btn btn-primary col-xs-2" %>
      <%= link_to '削除する', @user, method: :delete, class: "btn btn-danger col-xs-2", data: { confirm: '本当に退会しますか？' } %>
    <% end %>
</div>